.header__user-auth {
  display: flex;
  padding-top: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 768px) {
  .header__user-auth {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header__user-auth_type_not-auth {
    display: flex;
  }
}