.header__user-auth {
  display: flex;
  padding-top: 8px;
  color: rgb(169, 169, 169);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}