.element__delete {
  position: absolute;
  /* background-image: url(../../../images/basket.svg);
  background-repeat: no-repeat;
  background-position: center; */
  background-color: rgba(0, 0, 0, 0);
  width: 18px;
  height: 19px;
  border: 0;
  padding: 0;
  right: 20px;
  top: 20px;
}
