.popup__additional-question {
  display: block;
  margin: 16px 0 0;
  text-align: center;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}

@media screen and (max-width: 320px) {
  .popup__additional-question {
    margin-top: 20px;
    font-size: 14px;
    line-height: 17px;
  }
}