.header {
  display: flex;
  margin: 0 auto;
  width: 69.5%;
  padding-top: 45px;
}

@media screen and (max-width: 768px) {
  .header {
    padding-top: calc(18px + 3.1vw);
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding-top: 1px;
    margin: 0 auto;
    width: 100%;
  }
}
